@font-face {
    font-family: 'warcraft Medium';
    font-style: normal;
    font-weight: normal;
    src: local('warcraft Medium'), url('Warcraft-Yj2j.woff') format('woff');
    }

    h1 {
        font-family: 'warcraft Medium';
        font-weight: 200;
        color: #0ccac4;
    }